body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  padding: 100;
  margin: 10;
  color: teal;
  border-bottom: 2px solid  gray;
  text-align: center;
}
.item{
  padding: 10px;
  margin: 10px;
  background:teal ;
  color: white;
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
button {
  width: 100px;
  background:white;
  border: 0;
  padding: 10px;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}
button:hover{
  background: tomato;
  color: white;
}




